<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WC-Tabs</title>
    <style>
        wc-tabs {
            width: 50vw;
            margin: 1rem auto;
            padding: 1rem;
            box-sizing: border-box;
            border: 1px solid #e4e7ed;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Default Theme</h2>
    <wc-tabs>
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-theme (Material Design)</h2>
    <wc-tabs data-theme="material-design">
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-disabled</h2>
    <wc-tabs>
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab" data-disabled>CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-index</h2>
    <wc-tabs data-index="1" data-type="card">
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-position (top)</h2>
    <wc-tabs data-position="top">
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-position (bottom)</h2>
    <wc-tabs data-position="bottom">
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-position (left)</h2>
    <wc-tabs data-position="left">
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <h2>data-position (right)</h2>
    <wc-tabs data-position="right">
        <p slot="tab">HTML</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque possimus est animi cumque
            ullam explicabo odio laborum, veniam nesciunt.</div>
        <p slot="tab">CSS</p>
        <div slot="panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed voluptates repudiandae ab
            architecto beatae facilis expedita asperiores temporibus magni? Odit praesentium necessitatibus, cupiditate
            illum obcaecati, dignissimos explicabo ipsam provident aliquid aliquam laudantium, veniam rerum quidem illo
            sint quia nihil?</div>
        <p slot="tab">JavaScript</p>
        <div slot="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate perspiciatis
            officiis aliquid, voluptatum inventore perferendis mollitia eaque ad ab quae quis iusto tempore repellendus
            illo. Maxime quas iste in. Nisi voluptas ipsum ex quidem iure cum iusto possimus beatae a id. Deserunt
            consequatur quasi repudiandae placeat asperiores necessitatibus repellat odio, quod quos excepturi ea maxime
            sequi repellendus laborum inventore.</div>
    </wc-tabs>

    <script type="module" src="./tabs.js"></script>
</body>

</html>