<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <wc-button w="10px" h="10px" type="stripe" ref="wcButton1"></wc-button> -->
    <wc-button type="stripe" ref="wcButton1"></wc-button>
    <wc-button type="sketch" ref="wcButton2"></wc-button>
    <wc-button type="dribbble" ref="wcButton3"></wc-button>
    <div onclick="change()" width="50px" height="50px">Click me</div>
</head>

<body>

</body>

</html>
<script src="./button.js"></script>
<script>
    // const node = document.querySelector('wc-button');
    function change() {
        // console.log(node);
        // console.log(ref);
        // ref.setAttribute('type', '');
        // console.log(node.childNodes);
        // console.log(node.attributes); // NameNodeMap
        // console.log(node.getAttribute('w'));
        // console.log(node.getAttribute('h'));
        // console.log(node.getAttribute('type'));
        // node.setAttribute('type', 'changed');
    }
</script>