<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WC-Button</title>
</head>

<body>
    <div>
        <wc-button theme="primary small">Primary</wc-button>
        <wc-button theme="primary medium">Primary</wc-button>
        <wc-button theme="primary large">Primary</wc-button>

        <wc-button theme="primary small error">Primary</wc-button>
        <wc-button theme="primary medium error ">Primary</wc-button>
        <wc-button theme="primary large error ">Primary</wc-button>
    </div>

    <div>
        <wc-button theme="secondary small">Secondary</wc-button>
        <wc-button theme="secondary medium">Secondary</wc-button>
        <wc-button theme="secondary large">Secondary</wc-button>

        <wc-button theme="secondary small error">Secondary</wc-button>
        <wc-button theme="secondary medium error ">Secondary</wc-button>
        <wc-button theme="secondary large error ">Secondary</wc-button>
    </div>

    <div>
        <wc-button theme="tertiary small">Tertiary</wc-button>
        <wc-button theme="tertiary medium">Tertiary</wc-button>
        <wc-button theme="tertiary large">Tertiary</wc-button>

        <wc-button theme="tertiary small error">Tertiary</wc-button>
        <wc-button theme="tertiary medium error ">Tertiary</wc-button>
        <wc-button theme="tertiary large error ">Tertiary</wc-button>
    </div>
</body>

</html>
<!-- Uncaught SyntaxError: export declarations may only appear at top level of a module -->
<!-- https://stackoverflow.com/questions/42237388/syntaxerror-import-declarations-may-only-appear-at-top-level-of-a-module -->
<!-- <script src="./button.js"></script> -->
<script type="module" src="./button.js"></script>