<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WC-Tooltip</title>
    <style>
        wc-tooltip {
            margin: 0.5rem;
            color: #000000d9;
            border: 1px solid #d9d9d9;
            border-radius: 0.25rem;
        }

        /* element-ui */
        wc-tooltip:hover {
            color: #409eff;
            border-color: #c6e2ff;
            background-color: #ecf5ff;
        }

        h2 {
            text-align: center;
        }

        .container {
            width: 400px;
            text-align: center;
            margin: 2rem auto 1rem;
        }

        .left {
            width: 70px;
            float: left;
        }

        .right {
            width: 70px;
            float: right;
        }

        .bottom {
            clear: both;
        }
    </style>
</head>

<body>
    <h2>data-placement</h2>
    <div class="container">
        <div class="top">
            <wc-tooltip data-text="Top Left" data-placement="top-left">TL</wc-tooltip>
            <wc-tooltip data-text="Top Center" data-placement="top-center">TC</wc-tooltip>
            <wc-tooltip data-text="Top Right" data-placement="top-right">TR</wc-tooltip>
        </div>
        <div class="left">
            <wc-tooltip data-text="Left Top" data-placement="left-top">LT</wc-tooltip>
            <wc-tooltip data-text="Left Center" data-placement="left-center">LC</wc-tooltip>
            <wc-tooltip data-text="Left Bottom" data-placement="left-bottom">LB</wc-tooltip>
        </div>
        <div class="right">
            <wc-tooltip data-text="Right Top" data-placement="right-top">RT</wc-tooltip>
            <wc-tooltip data-text="Right Center" data-placement="right-center">RC</wc-tooltip>
            <wc-tooltip data-text="Right Bottom" data-placement="right-bottom">RB</wc-tooltip>
        </div>
        <div class="bottom">
            <wc-tooltip data-text="Bottom Left" data-placement="bottom-left">BL</wc-tooltip>
            <wc-tooltip data-text="Bottom Center" data-placement="bottom-center">BC</wc-tooltip>
            <wc-tooltip data-text="Bottom Right" data-placement="bottom-right">BR</wc-tooltip>
        </div>
    </div>

    <div style="text-align: center;">
        <h2>Customization</h2>
        <wc-tooltip>Default</wc-tooltip>
        <wc-tooltip data-text="This is a replaced tooltip.">Replace Text</wc-tooltip>
        <wc-tooltip style="--background-color: red;">Change background-color to red</wc-tooltip>
        <wc-tooltip>
            <div>Div 1</div>
            <div>Div 2</div>
        </wc-tooltip>
        <!-- To render a space (no-break space) in tooltip, use double spaces instead. -->
        <!-- or \a0 \A0 \00a0 \00A0 \0000a0 \0000A0 -->
        <!-- See more: https://css-tricks.com/snippets/html/glyphs/ -->
        <!-- https://www.amp-what.com/unicode/search/%3E -->
        <wc-tooltip data-text="粘贴  |  #  |  搜一搜  |  边写边译">WeChat</wc-tooltip>
        <wc-tooltip data-text="First Paragraph\A Second Paragraph">Tooltips in two lines</wc-tooltip>
        <wc-tooltip data-text="<p>First Paragraph</p><p>Second Paragraph</p>">Tooltip does not support HTML</wc-tooltip>
    </div>

    <div style="text-align: center;">
        <h2>data-theme</h2>
        <wc-tooltip data-theme="github" data-text="GitHub Theme">GitHub Theme</wc-tooltip>
        <wc-tooltip data-theme="light" data-text="Light Theme">Light Theme</wc-tooltip>
        <wc-tooltip data-theme="material" data-text="Material Theme">Material Theme</wc-tooltip>
    </div>



    <h2>data-animation (flow-in)</h2>
    <div class="container">
        <div class="top">
            <wc-tooltip data-text="Top Left" data-placement="top-left" data-animation="flow-in">TL</wc-tooltip>
            <wc-tooltip data-text="Top Center" data-placement="top-center" data-animation="flow-in">TC</wc-tooltip>
            <wc-tooltip data-text="Top Right" data-placement="top-right" data-animation="flow-in">TR</wc-tooltip>
        </div>
        <div class="left">
            <wc-tooltip data-text="Left Top" data-placement="left-top" data-animation="flow-in">LT</wc-tooltip>
            <wc-tooltip data-text="Left Center" data-placement="left-center" data-animation="flow-in">LC</wc-tooltip>
            <wc-tooltip data-text="Left Bottom" data-placement="left-bottom" data-animation="flow-in">LB</wc-tooltip>
        </div>
        <div class="right">
            <wc-tooltip data-text="Right Top" data-placement="right-top" data-animation="flow-in">RT</wc-tooltip>
            <wc-tooltip data-text="Right Center" data-placement="right-center" data-animation="flow-in">RC</wc-tooltip>
            <wc-tooltip data-text="Right Bottom" data-placement="right-bottom" data-animation="flow-in">RB</wc-tooltip>
        </div>
        <div class="bottom">
            <wc-tooltip data-text="Bottom Left" data-placement="bottom-left" data-animation="flow-in">BL</wc-tooltip>
            <wc-tooltip data-text="Bottom Center" data-placement="bottom-center" data-animation="flow-in">BC
            </wc-tooltip>
            <wc-tooltip data-text="Bottom Right" data-placement="bottom-right" data-animation="flow-in">BR</wc-tooltip>
        </div>
    </div>

    <h2>data-animation (flow-out)</h2>
    <div class="container">
        <div class="top">
            <wc-tooltip data-text="Top Left" data-placement="top-left" data-animation="flow-out">TL</wc-tooltip>
            <wc-tooltip data-text="Top Center" data-placement="top-center" data-animation="flow-out">TC</wc-tooltip>
            <wc-tooltip data-text="Top Right" data-placement="top-right" data-animation="flow-out">TR</wc-tooltip>
        </div>
        <div class="left">
            <wc-tooltip data-text="Left Top" data-placement="left-top" data-animation="flow-out">LT</wc-tooltip>
            <wc-tooltip data-text="Left Center" data-placement="left-center" data-animation="flow-out">LC</wc-tooltip>
            <wc-tooltip data-text="Left Bottom" data-placement="left-bottom" data-animation="flow-out">LB</wc-tooltip>
        </div>
        <div class="right">
            <wc-tooltip data-text="Right Top" data-placement="right-top" data-animation="flow-out">RT</wc-tooltip>
            <wc-tooltip data-text="Right Center" data-placement="right-center" data-animation="flow-out">RC</wc-tooltip>
            <wc-tooltip data-text="Right Bottom" data-placement="right-bottom" data-animation="flow-out">RB</wc-tooltip>
        </div>
        <div class="bottom">
            <wc-tooltip data-text="Bottom Left" data-placement="bottom-left" data-animation="flow-out">BL</wc-tooltip>
            <wc-tooltip data-text="Bottom Center" data-placement="bottom-center" data-animation="flow-out">BC
            </wc-tooltip>
            <wc-tooltip data-text="Bottom Right" data-placement="bottom-right" data-animation="flow-out">BR</wc-tooltip>
        </div>
    </div>

    <h2>data-animation (expand)</h2>
    <div class="container">
        <div class="top">
            <wc-tooltip data-text="Top Left" data-placement="top-left" data-animation="expand">TL</wc-tooltip>
            <wc-tooltip data-text="Top Center" data-placement="top-center" data-animation="expand">TC</wc-tooltip>
            <wc-tooltip data-text="Top Right" data-placement="top-right" data-animation="expand">TR</wc-tooltip>
        </div>
        <div class="left">
            <wc-tooltip data-text="Left Top" data-placement="left-top" data-animation="expand">LT</wc-tooltip>
            <wc-tooltip data-text="Left Center" data-placement="left-center" data-animation="expand">LC</wc-tooltip>
            <wc-tooltip data-text="Left Bottom" data-placement="left-bottom" data-animation="expand">LB</wc-tooltip>
        </div>
        <div class="right">
            <wc-tooltip data-text="Right Top" data-placement="right-top" data-animation="expand">RT</wc-tooltip>
            <wc-tooltip data-text="Right Center" data-placement="right-center" data-animation="expand">RC</wc-tooltip>
            <wc-tooltip data-text="Right Bottom" data-placement="right-bottom" data-animation="expand">RB</wc-tooltip>
        </div>
        <div class="bottom">
            <wc-tooltip data-text="Bottom Left" data-placement="bottom-left" data-animation="expand">BL</wc-tooltip>
            <wc-tooltip data-text="Bottom Center" data-placement="bottom-center" data-animation="expand">BC
            </wc-tooltip>
            <wc-tooltip data-text="Bottom Right" data-placement="bottom-right" data-animation="expand">BR</wc-tooltip>
        </div>
    </div>

    <h2>data-animation (swing)</h2>
    <div class="container">
        <div class="top">
            <wc-tooltip data-text="Top Left" data-placement="top-left" data-animation="swing">TL</wc-tooltip>
            <wc-tooltip data-text="Top Center" data-placement="top-center" data-animation="swing">TC</wc-tooltip>
            <wc-tooltip data-text="Top Right" data-placement="top-right" data-animation="swing">TR</wc-tooltip>
        </div>
        <div class="left">
            <wc-tooltip data-text="Left Top" data-placement="left-top" data-animation="swing">LT</wc-tooltip>
            <wc-tooltip data-text="Left Center" data-placement="left-center" data-animation="swing">LC</wc-tooltip>
            <wc-tooltip data-text="Left Bottom" data-placement="left-bottom" data-animation="swing">LB</wc-tooltip>
        </div>
        <div class="right">
            <wc-tooltip data-text="Right Top" data-placement="right-top" data-animation="swing">RT</wc-tooltip>
            <wc-tooltip data-text="Right Center" data-placement="right-center" data-animation="swing">RC</wc-tooltip>
            <wc-tooltip data-text="Right Bottom" data-placement="right-bottom" data-animation="swing">RB</wc-tooltip>
        </div>
        <div class="bottom">
            <wc-tooltip data-text="Bottom Left" data-placement="bottom-left" data-animation="swing">BL</wc-tooltip>
            <wc-tooltip data-text="Bottom Center" data-placement="bottom-center" data-animation="swing">BC
            </wc-tooltip>
            <wc-tooltip data-text="Bottom Right" data-placement="bottom-right" data-animation="swing">BR</wc-tooltip>
        </div>
    </div>

    <script type="module" src="./tooltip.js"></script>
</body>

</html>