:host {
    --border-radius: 6px;
}
/* :host * {
    box-sizing: border-box;
} */
:host div {
    width: 100px;
    height: 4px;
    margin: 0.5rem 0;
    border-radius: var(--border-radius);
}

:host div span {
    display: block;
    height: 100%;
    border-radius: var(--border-radius);
}
