<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WC-Progress-Bar</title>
</head>

<body>
    <h2>Theme (data-theme)</h2>
    <wc-progress-bar
        data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, rerum adipisci! Id nesciunt distinctio accusamus. Dolores delectus tempora, reprehenderit harum voluptas nobis eius, quae nostrum odio officia magni ad doloribus laudantium porro provident non vitae autem dolorem necessitatibus ullam quia error architecto doloremque facere? Delectus saepe ipsam quae obcaecati cupiditate.">
    </wc-progress-bar>
    <wc-progress-bar data-theme="orange"></wc-progress-bar>
    <wc-progress-bar data-theme="blue-magenta"></wc-progress-bar>
    <wc-progress-bar data-theme="cyan"></wc-progress-bar>
    <wc-progress-bar data-theme="pink"></wc-progress-bar>
    <wc-progress-bar data-theme="green-cyan"></wc-progress-bar>

    <h2>Left (data-text-position)</h2>
    <wc-progress-bar data-text-position="left"></wc-progress-bar>

    <h2>Right (data-text-position)</h2>
    <wc-progress-bar data-text-position="right"></wc-progress-bar>

    <h2>Top (data-text-position)</h2>
    <wc-progress-bar data-text-position="top"></wc-progress-bar>

    <h2>Bottom (data-text-position)</h2>
    <wc-progress-bar data-text-position="bottom"></wc-progress-bar>

    <h2>Center (data-text-position)</h2>
    <wc-progress-bar data-text-position="center"></wc-progress-bar>

    <h2>All initializations</h2>
    <wc-progress-bar data-theme="pink" data-text="text" data-text-position="center" data-span-width="30%">
    </wc-progress-bar>

    <script type="module" src="./progress-bar.js"></script>
</body>

</html>